html, body{
    height: 100%;
    background-color: orange;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: green;
}

.menu-button{
    height: 80px;
    width: 120px;
    background-color: white;
    border: solid 2px black;
    margin: 30px;
    justify-content: center;
}