html, body{
    height: 100%;
    display: flex;
    background-color: orange;
}


aside{
    display: flex;
    background-color: green;
    height: 100%;
    width: 20%;
    margin: 0;
    justify-content: center;
}

.menu-button{
    flex-direction: column;
    height: 80px;
    width: 120px;
    background-color: white;
    border: solid 2px black;
    margin: 30px;
    justify-content: center;
}

.box1{
    background-color: purple;
    height: 184px;
    width: 70%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

img{
    height: 184px;
    margin-left: 30px;
}
